@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    
    font: 400 14px 'Poppins', sans-serif;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea{
    font: 400 18px 'Poppins', sans-serif;
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color:#333333;
    border: solid 1px #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea{
    width: 100%;
    min-height: 140px;
    color:#333333;
    border: solid 1px #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.button{
    width: 100%;
    height: 60px;
    background-color: #e02041;
    border: 0;
    border-radius: 8px;
    color:#fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}
.button:hover{
    filter: brightness(90%);
}

.back-link{
    display:flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
.back-link svg{
    margin-right: 8px;
}
.back-link:hover{
    opacity: 0.8;
}