.top-header{
    width: 100%;
    height: 500px;
    background-image: url(./bg-progcientifica.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-header h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 40px;
}
.top-header h1 span{
    color:red;
}

/* ----- EVENT INFOS ----- */

.card-header{
    color: #0e1783;
    font-weight: 900;
    border: none;
    cursor:pointer;
}
.card-header .event-day{
    display: block;
    width: auto;
    float: left;
    background-color: #0072bc;
    color: #fff;
    font-weight: 900;
    margin: -12px 10px 0px -20px;
    padding: 11px;
    border: solid 1px #0072bc;
    text-transform: uppercase;
}

.card-body{
    /* background-color: #ececf4; */
    background-color: #ffffff;
}
.event-item{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ececf4;
}

.event-item .speaker-infos, .event-item .speaker-infos img{
    width: 100%;
}
.event-item .speaker-infos span{
    position: relative;
    display: inline-block;
    background-color: red;
    font-weight: 900;
    color: #fff;
    padding: 10px;
    width: auto;
    top: -30px;
    left: -5px;
    margin-bottom: -30px;
    font-size: 12px;
}
.event-infos{
    color:#9698b6;
}
.event-infos h2{
    text-transform: uppercase;
    color: #0e1783;
    font-size: 30px;
    font-weight: 900;
}
.event-infos .finding-infos{
    font-size: 12px;
    margin-bottom: 20px;
    color: red;
    font-weight: 700;
}
.event-infos .finding-infos .evIcon{
    margin-right: 10px;
    margin-top:-3px;
}
.highlight{
    color: red;
}